<script>

	$(document).ready(function() {
		
		$('#calendar').fullCalendar({
			header: {
				left: 'prev,next today',
				center: 'title',
				right: 'month,agendaWeek,agendaDay,listWeek'
			},
			navLinks: true, // can click day/week names to navigate views
			editable: true,
			events: [
			<% schedules.each do |schedule| %>
			{
				id: "<%= schedule.id %>"
				title:  "<%= schedule.title %>",
				start: "<%= schedule.start_time.to_s(:db) %>",
				end: "<%= schedule.end_time.to_s(:db) %>"
			}

			<% end %>

			]
		});
		
	});

</script>
<p><%= room.room_name %>のスケジュールカレンダー</p>
<div id="calendar"></div>