<%= form_for(schedule) do |f| %>
<% if schedule.errors.any? %>
<div id="error_explanation">
  <h2><%= pluralize(schedule.errors.count, "error") %> prohibited this schedule from being saved:</h2>

  <ul>
    <% schedule.errors.full_messages.each do |message| %>
    <li><%= message %></li>
    <% end %>
  </ul>
</div>
<% end %>

<div class="field">
  <%= f.label :サロンを選ぶ %>
  <%= f.select :salon_id, @salons.map{|t| [t.salon_name, t.id]} %>
</div>

<div class="field">
  <%= f.hidden_field :title, :readonly => true%>
</div>

<div class="field">
  <%= f.label :開始日時 %>
  <%= f.datetime_select :start_time %>
</div>

<div class="field">
  <%= f.label :終了日時 %>
  <%= f.datetime_select :end_time %>
</div>

<div class="field">
  <%= f.label :募集人数 %>
  <%= f.number_field :recruitment_numbers %>
</div>

<div class="field">
  <%= f.label :注意事項 %>
  <%= f.text_area :notes %>
</div>

<div class="actions">
  <%= f.submit %>
</div>
<% end %>
