<p id="notice"><%= notice %></p>

<p>
  <strong>Salon:</strong>
  <%= @schedule.salon_id %>
</p>

<p>
  <strong>Start time:</strong>
  <%= @schedule.start_time %>
</p>

<p>
  <strong>End time:</strong>
  <%= @schedule.end_time %>
</p>

<p>
  <strong>Recruitment numbers:</strong>
  <%= @schedule.recruitment_numbers %>
</p>

<p>
  <strong>Notes:</strong>
  <%= @schedule.notes %>
</p>

<%= link_to 'Edit', edit_schedule_path(@schedule) %> |
<%= link_to 'Back', schedules_path %>
