<h1>ピアノサロン・ローズ</h1>
<ul>
	<li><%= link_to "スケジュールカレンダー", schedules_path %></li>
	<% if !@areas.blank? %>
	<% for area in @areas %>
	<li><%= link_to area.area_name, area_path(area.id) %></li>
	<% end %>
	<% else %>

	<% end %>
	<li><%= link_to "ホール一覧", areas_path %></li>
	<li><%= link_to "サロン一覧", salons_path %></li>

	<div>
		<h4>近日中のサロン開催予定</h4>
		<% if !@next_schedules.blank? %>
		<table class="table">
			<thead>
				<tr>
					<th>サロン</th>
					<th>開催日時</th>
					<th colspan="3"></th>
				</tr>
			</thead>

			<tbody>
				<% @next_schedules.each do |schedule| %>
				<tr>
					<td><%= link_to schedule.title, schedule_path(schedule.id) %></td>
					<td><%= schedule.start_time %></td>
				</tr>
				<% end %>
			</tbody>
		</table>
		<% else %>
		<p>近日中の開催予定はありません</p>
		<% end %>
	</div>
</ul>