<p id="notice"><%= notice %></p>

<p>
  <strong>Area:</strong>
  <%= @room.area_id %>
</p>

<p>
  <strong>Description:</strong>
  <%= @room.description %>
</p>

<%= link_to 'Edit', edit_room_path(@room) %> |
<%= link_to 'Back', rooms_path %>
