<p id="notice"><%= notice %></p>

<h2><%= @room.room_name %></h2>
<p>
	<strong>部屋の紹介</strong>
	<%= raw @room.description %>
</p>

<% if user_signed_in? && current_user.admin %>
<%= link_to '編集', edit_room_path(@room) %> |
<% end %>
<%= link_to 'Back', rooms_path %>
